
<mat-card>
  <form (submit)="SaveReceiving(receivingForm)" #receivingForm="ngForm">
  <mat-card-header>
    <mat-card-title>Receiving Input</mat-card-title>
    <span class="spacer"></span>
    <!-- <button mat-raised-button color="primary" type="submit" *ngIf="dataSource.data.length > 0">Save</button>
    <button mat-raised-button color="warn" (click)="AddArticle()" *ngIf="(dataSource.data.length === 0) && !productForm.invalid">No Articles</button> -->
  </mat-card-header>
  <mat-form-field class="number">
    <input placeholder="number" matInput type="text" name="number" #number="ngModel" [ngModel]="receiving?.number" required>
    <mat-error *ngIf="number.invalid">Input Invalid</mat-error>
  </mat-form-field>
  <p>
  <mat-form-field>
    <mat-label>Supplier</mat-label>
    <mat-select matInput name="supplier_id" #name="ngModel" [ngModel]="receiving?.supplier_id" placeholder="1">
      <mat-option *ngFor="let supplier of suppliers" [(value)]="supplier.id">
          {{supplier.name}}
        </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Price" matInput type="number" name="price_buy" #name="ngModel" [ngModel]="receiving?.price_buy" required>
  </mat-form-field>
  </p>
  <p>
  <mat-form-field>
    <input matInput [matDatepicker]="Docpicker" placeholder="Datum Dokumenta">
    <mat-datepicker-toggle matSuffix [for]="Docpicker"></mat-datepicker-toggle>
    <mat-datepicker #Docpicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="Inputpicker" placeholder="Datum Unosa">
    <mat-datepicker-toggle matSuffix [for]="Inputpicker"></mat-datepicker-toggle>
    <mat-datepicker #Inputpicker></mat-datepicker>
  </mat-form-field>
  </p>


  </form>
</mat-card>

<mat-card *ngIf="!receivingForm.invalid">
  <mat-card-header>
    <mat-card-title>Product Details Input</mat-card-title>
  </mat-card-header>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

     Position Column
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID. </th>
      <td mat-cell *matCellDef="let element"> {{element.article_id}} </td>
    </ng-container>

     Name Column
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

     Price Column
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input matInput type="number" name="amount" #name="ngModel" [(ngModel)]="element.amount" required>
        </mat-form-field>
      </td>
    </ng-container>

    Delete Column
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Remove</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn" (click)="RemoveArticle(element.table_id, element.id)">Remove</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button mat-raised-button color="accent" (click)="AddArticle()">Add Article</button>
</mat-card>

