<mat-toolbar color='primary'>
  <mat-toolbar-row>
    <span>
      <a routerLink="/">Romana 6.0</a>
    </span>
    <span class="spacer"></span>
    <ul>
      <li *ngIf="userIsAuthenticated">
        <a mat-button (click)="LogOut()">Logout</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>
<button mat-button *ngIf="userIsAuthenticated" [matMenuTriggerFor]="Ulazi">Ulazi</button>
<!-- <button mat-button [matMenuTriggerFor]="Izlazi">Izlazi</button>
<button mat-button [matMenuTriggerFor]="Settings">Settings</button> -->

<mat-menu #Ulazi="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="Artikli" >Artikli</button>
  <button mat-menu-item [matMenuTriggerFor]="Suppliers" >Suppliers</button>
  <!-- <button mat-menu-item [matMenuTriggerFor]="Normativi">Normativi</button> -->
</mat-menu>

<mat-menu #Artikli="matMenu">
  <button mat-menu-item routerLink="/inputs/articles" routerLinkActive="mat-accent">List</button>
  <button mat-menu-item routerLink="/inputs/articles/create" routerLinkActive="mat-accent">New</button>
  <!-- <button mat-menu-item>Lista</button> -->
</mat-menu>
<mat-menu #Suppliers="matMenu">
    <button mat-menu-item routerLink="/inputs/suppliers" routerLinkActive="mat-accent">List</button>
    <button mat-menu-item routerLink="/inputs/suppliers/create" routerLinkActive="mat-accent">New</button>
    <!-- <button mat-menu-item>Lista</button> -->
  </mat-menu>

<!-- <mat-menu #Normativi="matMenu">
  <button mat-menu-item>New</button>
  <button mat-menu-item>List</button>
</mat-menu>

<mat-menu #Izlazi="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="Skladiste">Skladiste</button>
  <button mat-menu-item [matMenuTriggerFor]="Prodaja">Prodaja</button>
</mat-menu>

<mat-menu #Skladiste="matMenu">
  <button mat-menu-item>Stanje</button>
</mat-menu>

<mat-menu #Prodaja="matMenu">
  <button mat-menu-item>Stanje</button>
</mat-menu>

<mat-menu #Settings="matMenu">
   <button mat-menu-item>Global</button>
   <button mat-menu-item>Lokacije</button>
</mat-menu> -->
